<!-- Appel des librairies -->

  {{ '//unpkg.com/aos@2.3.1/dist/aos.css'   | stylesheet_tag }}
  {{ '//unpkg.com/aos@2.3.1/dist/aos.js' | script_tag }}

<!-- fin d'appel des librairies -->



<!-- A ajouter en fin de fichier, entre la balise </body> et </html> -->

  <script>
  	AOS.init();
  </script>


<!-- fin -->
